<style lang="scss">
    :global(body) {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }
    h1 {
        font: normal 10pt Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
        color: dimgray;
        cursor: default;
        position: relative;
        text-align: center;

        span {
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .copied {
        position: absolute;
        height: 30px;
        width: 60px;
        background: rgba(0, 0, 0, .5);
        color: white;
        text-align: center;
        border-radius: 3px;
        font-size: 14px;
        line-height: 30px;
        top: -35px;
        left: 50%;
        transform: translateX(-50%);
    }
</style>
<div>
    <h1>Post request on: <span on:click={() => copyLink() }>{postUrl}</span>
        {#if copied} <span class="copied" transition:fade>Copied !</span> {/if}
    </h1>
    <MessagesList messages={messages} />
</div>

<script>
    import io                 from 'socket.io-client';
    import MessagesList       from './components/MessagesList.svelte';
    import { fade }           from 'svelte/transition';
    import dateToTime         from './helpers/dateToTime';
    import * as animateScroll from "svelte-scrollto";
    import { tick }           from 'svelte';

    animateScroll.setGlobalOptions({
        offset: 300,
        container: '#message-container'
    });

    export let messages = [];
    let copied = false;
    const postUrl = window.location.href.replace('watch', 'log');

    const socket = io(window.location.origin);
    socket.emit('join-room', window.location.href.split('watch/')[1]);

    socket.on('log', log => {
        addLog({log:log.log, currentTime: dateToTime(new Date(Date.now()))});
    });

    const addLog = async log => {
        messages = [...messages, log];
        await tick();
        animateScroll.scrollToBottom();

    };

    const copyLink = () => {
        navigator.clipboard.writeText(postUrl).then( () => {
            copied = true;
            setTimeout(() => {
                copied = false;
            }, 1000);
        }, e => {
           console.error('Can t copy in clipboard', {e});
        });
    };

</script>
