<div class="message">
    <p class="date">{message.currentTime}</p>
    <pre class="text">{JSON.stringify(message.log, undefined, 2)}</pre>
</div>

<style>
    .date {
        font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
        font-size: 13px;
        color: #89dc29;
    }
    .message {
        margin: 7px 0;
        width: 100%;
    }

</style>

<script>
    export let message;
</script>
