
<div id="message-container">
    {#each messages as message, i}
    <Message {message} />
    {:else}
    <p>No messages</p>
    {/each}
</div>

<style>
    #message-container {
        height: calc(100vh - 100px);
        width: 90vw;
        padding: 0 20px;
        border-radius: 30px;
        background-color: #32325d;
        color:#fff;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        overflow-y: scroll;
        box-sizing: border-box;
    }
</style>

<script>
    import Message from './Message.svelte';
    export let messages;
</script>
